<footer>
  <div class="meta-adrl">
    <div class="copyright">
      Copyright 2014–<%= Date.today.year %> The Regents of the University of California, All Rights Reserved.
    </div>
    <div class="version">
      Version <%= BRANCH %> updated <%= LAST_DEPLOYED %>
    </div>
  </div>

  <div class="meta-ucsb">
    <div class="logo-link">
      <%= link_to "http://www.library.ucsb.edu" do %>
        <img src="<%= image_path("UCSB_Library_Logo_White.png") %>"
             srcset="<%= image_path("UCSB_Library_Logo_White@2x.png") %> 2x">
      <% end %>
    </div>

    <div>
      <%= link_to "http://www.ucsb.edu" do %>
        <p><strong>UC Santa Barbara Library</strong><br>
          Santa Barbara, California 93106-9010<br>
          (805) 893-2478</p>
      <% end %>
    </div>
  </div>
</footer>
