<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Internet Explorer use the highest version available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <!--[if IEMobile]>
      <meta http-equiv="cleartype" content="on">
    <![endif]-->

    <title><%= "#{render_page_title} | #{application_name}" %></title>
    <%= opensearch_description_tag application_name, main_app.opensearch_catalog_url(:format => 'xml') %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= content_for(:head) %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RDKLZ6Y0NV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RDKLZ6Y0NV');
</script>
<body class="<%= render_body_class %>">
  <%= render 'shared/header_navbar' %>

  <%= render 'shared/ajax_modal' %>

  <div id="main-container" class="<%= container_classes %>">
    <%= content_tag :h1, application_name, class: 'sr-only application-heading' %>
    <% if content_for?(:page_header) %>
      <div class="row">
        <div class="col-md-12 main-header ">
          <%= yield(:page_header) %>
        </div>
      </div>
    <% end %>

    <%= render partial: '/flash_msg', layout: 'shared/flash_messages' %>

    <div class="row">
      <%= content_for?(:main) ? yield(:main) : yield %>
    </div>
  </div>

  <%= render 'shared/footer' %>
  </body>
</html>
